*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
/* layout start */
.layout{
    width: 100%;
    min-height: 100vh;
    background: lightpink;
    padding: 10px;
}
/* layout end */

/* Tracker-web start */
.Tracker-Web{
    width: 100%;
    max-width: 600px;
    background: #fff;
    margin: 20px auto 20px;
    padding: 40px 10px 70px;
    border-radius: 10px;
}
/* Tracker-web end */
/* Header start */
.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-header{
    margin-bottom: 5px;
}
/* Header end */
/* Income-Expense sart */
.Income-Expense{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Income{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 100px;
    background-color: rgba(109, 227, 109, 0.734);
    width: 100%;
    max-width: 150px;
    padding: 10px 0;
}
.Expenses{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 100px;
    background-color: rgba(228, 133, 133, 0.714);
    width: 100%;
    max-width: 150px;
    padding: 10px 0;
}
.Description{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
    margin-top: 10px;
}
input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 15px;
}
button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgb(126, 126, 225);
}
button:hover{
    transition: 1s;
    transform: scale(1.1);
    background-color: whitesmoke;
    cursor: pointer;
}
.Transaction-History{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
table{
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
    
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
}
th{
    background-color: yellowgreen;
}
.Description{
    padding: 20px 60px;
}
.Date{
    padding: 20px 70px;
}
/* Force equal column width */
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 25%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 100%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 25%;
}
/* Income-Expense end */
